<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>(\/\/.*?)
</string>
	<key>documentation_comment</key>
	<string>\/\*(.*?)\*\/</string>
	<key>documentation_comment_keyword</key>
	<string>(\/\*|\*\/)</string>
	<key>keyword</key>
	<string>(?&lt;!\w)(afterwards|above|abstract|below|begin|block|by|case|class|cleanup|concrete|constant|create|define|domain|else|elseif|end|exception|exclude|export|finally|for|from|function|functional|generic|handler|if|import|in|inherited|inline|instance|interface|library|let|local|macro|method|open|otherwise|primary|rename|sealed|select|sideways|signal|singleton|slot|subclass|then|to|unless|until|use|variable|virtual|when|while)(?!\w)</string>
	<key>number</key>
	<string>(\d)</string>
	<key>string</key>
	<string>(".*?")</string>
	<key>url</key>
	<string>((https?://)?([\da-z\.-]+)\.([a-z\.]{2,6})([/\w \.-]*)*/?)</string>
</dict>
</plist>
