<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>(--.*?)
</string>
	<key>keyword</key>
	<string>(?&lt;!\w)(indexing|class|inherit|creation|feature|rename|redefine|undefine|select|export|local|deferred|do|is|once|alias|external|rescue|debug|if|inspect|from|else|elseif|when|until|loop|then|obsolete|end|check|ensure|require|variant|invariant|create)(?!\w)</string>
	<key>number</key>
	<string>(\d)</string>
	<key>string</key>
	<string>(".*?")</string>
	<key>url</key>
	<string>((https?://)?([\da-z\.-]+)\.([a-z\.]{2,6})([/\w \.-]*)*/?)</string>
</dict>
</plist>
